<div class="alert alert-info" *ngIf="applicationIsSent">
  Your application has been sent! Good luck!
</div>

<div class="alert alert-danger" *ngIf="offerDone">
  <h4>This offer has expired</h4>
</div>

<div class="row mt-4 mb-4 p-4">
  <div class="col-md-8 white-background mx-auto p-3">

    <div class="row">
      <div class="col-md-12 text-center">
        <h3>{{myOffer.name}}</h3>
      </div>
    </div>
    <hr>
    <div class="row mt-3">
      <div class="col-md-12">
        <h5>Company:</h5>
        <p class="nice-text">{{myOffer.username}}</p>
      </div>
    </div>
    <hr>
    <div class="row mt-3">
      <div class="col-md-12">
        <h5>Description:</h5>
        <p class="nice-text">{{myOffer.description}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h5>Type of job:</h5>
        <ul class="nice-text">
          <li *ngFor="let type of myOffer.typeOfJob">
            {{type.item_text}}
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h5>Deadline:</h5>
        <p class="nice-text">{{myOffer.deadlineDate}}; {{myOffer.deadlineTime}}</p>
      </div>
    </div>

    <div class="col-md-12 mx-auto text-center mb-3" *ngIf="currentUserRole === '0' && !alreadyApplied && !offerDone">
      <button class="btn btn-warning" [class.disabled]="applicationIsSent" (click)="showApplyForm()">Apply</button>
    </div>
    <div *ngIf="applyFormShow">
      <div class="col-md-12 mx-auto text-center mt-3">
        <h4 *ngIf="toMake">You still don't have a CV ready! <a routerLink="/makeCV">Click</a> here to start!</h4>
        <h4 *ngIf="!toMake">You are all ready to apply! <a routerLink="/makeCV">Click</a> here to double check your CV.
        </h4>
      </div>
      <div class="form-group col-md-12">
        <label for="">Cover letter:</label>
        <textarea class="form-control rounded-5" [(ngModel)]="coverLetterText"></textarea>
      </div>
      <form [formGroup]="coverLetForm">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="">Upload your cover letter:</label>
            <div>
              <input name="coverLetterPDF" type="file" (change)="fileSelected($event)">
            </div>
          </div>
        </div>
      </form>
      <div class="col-md-12 mx-auto text-center">
        <div class="alert alert-info" *ngIf="!applicationReady">
          Please have your CV ready and submit a cover letter
        </div>
        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>

    </div>

  </div>
</div>

<div class="row mt-4 mb-4 p-4"
  *ngIf="allCurrentApplications.length && ((alreadyApplied && offerDone) || currentUserRole === '1')">
  <div class="com-md-12 mx-auto mb-3">
    <hr>
    <h2 class="text-center">All submitet applications</h2>
    <hr>
  </div>
  <div class="col-md-12 white-background p-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item flex-column nice-radius mb-2" [class.list-group-item-success]="app.status ==='1'"
        [class.list-group-item-danger]="app.status ==='2'" *ngFor="let app of allCurrentApplications">
        <div class="row">
          <div class="d-flex w-100 justify-content-between col-md-8">
            <h3>{{app.username}}</h3>
          </div>
          <div class="col-md-2" *ngIf="currentUserRole === '1'">
            <button class="btn btn-warning w-100" (click)="showCV(app.username)">CV</button>
          </div>
          <div class="col-md-2" *ngIf="currentUserRole === '1' && app.coverLetterPDF">
            <button class="btn btn-warning w-100" (click)="getCoverLetter(app.coverLetterPDF)">Cover letter</button>
          </div>
        </div>
        <div class="row mt-3" *ngIf="currentUserRole === '1' && app.coverLetter">
          <div class="col-md-12">
            <textarea readonly class="form-control rounded-5" placeholder="{{app.coverLetter}}"></textarea>
          </div>
        </div>
        <div class="row" *ngIf="app.status === '0' && currentUserRole === '1'  && !decided">
          <div class="col-md-12 mx-auto text-center">
            <hr>
            <button class="btn btn-success mr-3 btn-lg" (click)="acceptSubmit(app.username)">Accept</button>
            <button class="btn btn-danger mr-3 btn-lg" (click)="rejectSubmit(app.username)">Reject</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row mt-4 mb-4 p-4" *ngIf="alreadyApplied && !offerDone && currentUserRole === '0'">
  <div class="com-md-12 mx-auto mb-3">
    <hr>
    <h2 class="text-center">Results will be visible after the offer expires</h2>
    <hr>
  </div>
</div>
<div class="row mt-4 mb-4 p-4" *ngIf="!allCurrentApplications.length && currentUserRole === '1'">
  <div class="com-md-12 mx-auto mb-3">
    <hr>
    <h2 class="text-center">There are no submited application</h2>
    <hr>
  </div>
</div>