<div class="alert alert-warning" role="alert" *ngIf="couldntFind">
  Wrong username or password
</div>

<div class="row mt-4 mb-4">
  <div class="col-md-8 white-background mx-auto p-3">
    <form [formGroup]="findUserForm" (ngSubmit)="onSubmitFind()">
      <div class="row p-3">
        <h3 class="mb-2">Change password:</h3>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="">Username:</label>
          <input [ngClass]="findUserForm.get('username').valid ? '' : 'is-invalid'" formControlName="username"
            name="username" type="text" class="form-control rounded-5">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="">Old password:</label>
          <input [ngClass]="findUserForm.get('oldPassword').valid ? '' : 'is-invalid'" formControlName="oldPassword"
            name="oldPassword" type="password" class="form-control rounded-5">
        </div>
      </div>
      <div class="row">
        <button class="btn-primary btn mt-3 col-md-2 mx-auto" type="submit"
          [disabled]="!findUserForm.valid">Find me</button>
      </div>
    </form>

    <div *ngIf="foundUser">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <label for="">New password:</label>
            <input [ngClass]="changePasswordForm.get('password').valid ? '' : 'is-invalid'" formControlName="password"
              name="password" type="password" class="form-control rounded-5">
            <small id="passwordHelpBlock" class="form-text text-muted">
              Your password must be 8-12 characters long, contain min 1 capital letter, min 3 small letters, min 1
              number
              and min 1 special character (#*.!?$).
            </small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="">Confirm password:</label>
            <input [ngClass]="changePasswordForm.get('confirmPassword').valid ? '' : 'is-invalid'"
              formControlName="confirmPassword" name="confirmPassword" type="password" class="form-control rounded-5">
          </div>
        </div>


        <div class="row">
          <button class="btn-primary btn mt-3 col-md-2 mx-auto" type="submit"
            [disabled]="!changePasswordForm.valid">Save</button>
        </div>

      </form>
    </div>

  </div>
</div>