<div class="row mt-4 mb-4">
  <div class="col-md-8 white-background mx-auto p-3">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-personal-info" role="tab"
          aria-controls="nav-home" aria-selected="true">Personal information</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-work-experience" role="tab"
          aria-controls="nav-profile" aria-selected="false">Work experience</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-education" role="tab"
          aria-controls="nav-contact" aria-selected="false"> Education and training</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-personal-skills" role="tab"
          aria-controls="nav-contact" aria-selected="false"> Personal skills</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active mt-3 p-3" id="nav-personal-info" role="tabpanel" aria-labelledby="nav-home-tab">
        <!--================Forma za personal info==================-->
        <app-cv-personal-information></app-cv-personal-information>
        <!--========================================================-->
      </div>
      <div class="tab-pane fade mt-3 p-3" id="nav-work-experience" role="tabpanel" aria-labelledby="nav-profile-tab">
        <!--================Forma za work experience==================-->
        <app-cv-work-experience></app-cv-work-experience>
        <!--========================================================-->
      </div>
      <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-contact-tab">Education</div>
      <div class="tab-pane fade" id="nav-personal-skills" role="tabpanel" aria-labelledby="nav-contact-tab">..s.</div>

    </div>
  </div>
</div>