<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  <div formGroupName="accountInfo">
    <h3 class="mb-2">Account info:</h3>

    <div class="form-group">
      <label for="">Username:</label>
      <input [ngClass]="companyForm.get('accountInfo.username').valid ? '' : 'is-invalid'" formControlName="username"
        name="username" type="text" class="form-control rounded-5">

    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="">Password:</label>
        <input [ngClass]="companyForm.get('accountInfo.password').valid ? '' : 'is-invalid'" formControlName="password"
          name="password" type="password" class="form-control rounded-5">
        <small id="passwordHelpBlock" class="form-text text-muted">
          Your password must be 8-12 characters long, contain min 1 capital letter, min 3 small letters, min 1 number
          and min 1 special character (#*.!?$).
        </small>
      </div>
      <div class="form-group col-md-6">
        <label for="">Repeat password:</label>
        <input [ngClass]="companyForm.get('accountInfo.confirmPassword').valid ? '' : 'is-invalid'"
          formControlName="confirmPassword" name="confirmPassword" type="password" class="form-control rounded-5">
      </div>
    </div>
  </div>

  <hr>

  <!--Company info-->
  <div formGroupName="companyInfo">
    <h3 class="mb-2">Company info:</h3>

    <!-- Lokacija -->
    <div formGroupName="location">
      <h4 class="mb-2">Location:</h4>

      <div class="form-group">
        <label for="">City:</label>
        <input [ngClass]="companyForm.get('companyInfo.location.city').valid ? '' : 'is-invalid'" formControlName="city"
          name="city" type="text" class="form-control rounded-5">
      </div>
      <div class="form-group">
        <label for="">Address:</label>
        <input [ngClass]="companyForm.get('companyInfo.location.address').valid ? '' : 'is-invalid'"
          formControlName="address" name="address" type="text" class="form-control rounded-5">
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label for="">Name of company:</label>
      <input [ngClass]="companyForm.get('companyInfo.name').valid ? '' : 'is-invalid'" formControlName="name"
        name="name" type="text" class="form-control rounded-5">
    </div>
    <div class="form-group">
      <label for="">PIB:</label>
      <input [ngClass]="companyForm.get('companyInfo.pib').valid ? '' : 'is-invalid'" formControlName="pib" name="pib"
        type="text" class="form-control rounded-5">
    </div>
    <div class="form-group">
      <label for="">Number of Employees:</label>
      <input [ngClass]="companyForm.get('companyInfo.numOfEmployees').valid ? '' : 'is-invalid'"
        formControlName="numOfEmployees" name="numOfEmployees" type="text" class="form-control rounded-5">
    </div>
    <div class="form-group">
      <label for="">Email:</label>
      <input [ngClass]="companyForm.get('companyInfo.email').valid ? '' : 'is-invalid'" formControlName="email"
        name="email" type="email" class="form-control rounded-5">
    </div>
    <div class="form-group">
      <label for="">Web site:</label>
      <input [ngClass]="companyForm.get('companyInfo.web').valid ? '' : 'is-invalid'" formControlName="web" name="web"
        type="text" class="form-control rounded-5">
    </div>

    <div class="form-group">
      <ng-multiselect-dropdown class="mb-2" [placeholder]="'Activities'" [data]="dropdownList"
        formControlName="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label for="">Spciality:</label>
      <input [ngClass]="companyForm.get('companyInfo.speciality').valid ? '' : 'is-invalid'"
        formControlName="speciality" name="speciality" type="text" class="form-control rounded-5">
    </div>

    <!--Slika-->
    <div class="mt-3">
      <small id="passwordHelpBlock1" class="form-text text-muted">
        Required to update photo
      </small>
      <button class="btn btn-warning" type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">

      <div *ngIf="imagePreview !=='' && imagePreview && companyForm.get('companyInfo.image').valid"
        class="img-fluid image-preview mt-2">
        <img [src]="imagePreview" [alt]="companyForm.value.companyInfo.name">
        <p *ngIf="imagePreview !=='' && imagePreview && !companyForm.get('companyInfo.image').valid">
          Wrong format
        </p>

      </div>
    </div>

  </div>

  <!-- [disabled]="!companyForm.valid" -->
  <button class="btn-primary btn mt-3" type="submit" [disabled]="!companyForm.valid">Register</button>
</form>