<div class="row mt-3">
  <div class="col-md-12 text-center p-1 admin-div">
    <i><h4>Admin page</h4></i>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-3 text-center mt-3">
    <img [src]="currentUser.image" [alt]="currentUser.username" class="img-fluid rounded-circle image-profile">
  </div>
  <div class="col-md-6 alignText">
    <h1>
      Welcome {{currentUser.username}}
    </h1>
    <ul class="list-group mt-4 ml-3">
      <li class="list-group-item">
        <h6 class="be-inline">Name:</h6>
        <p class="be-inline"> {{currentUser.name}}</p>
      </li>
      <li class="list-group-item">
        <h6 class="be-inline">Lastname:</h6>
        <p class="be-inline"> {{currentUser.lastname}}</p>
      </li>
      <li class="list-group-item">
        <h6 class="be-inline">Email:</h6>
        <p class="be-inline"> {{currentUser.email}}</p>
      </li>
      <li class="list-group-item">
        <h6 class="be-inline">Number:</h6>
        <p class="be-inline"> {{currentUser.number}}</p>
      </li>
    </ul>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12 text-center offset-md-3 text-center mx-auto">
    <button class="btn btn-info btn-lg mr-3" routerLink="/allPackages">Packages</button>
    <button class="btn btn-info btn-lg mr-3" routerLink="/adminCompanyApplications">View applications</button>
    <button class="btn btn-info btn-lg" routerLink="/companyLayout">Make layout</button>
  </div>

</div>