/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-image: linear-gradient(to bottom right, #f8f9fa, rgba(255, 176, 30, 0.288));
  background-repeat: no-repeat;
  background-size: 100%;
  }

