/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

body {
  background-image: linear-gradient(to bottom, #f8f9fa, rgba(255, 176, 30, 0.363));
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 1000px;
  }

