.white-background{
    background-color: white;
    border-radius: 25px;
}

.nice-text{
    text-indent: 5%;
}

.image-logo{
    max-height: 300px;
    max-width: 300px;
}

.be-inline{
    display: inline;
}

.use-col{
    width:100%;
    text-align: center;
}