<p>
  company works!
</p>

<div class="row mt-3">
  <div class="col-md-3 text-center mt-3">
    <img [src]="currentUser.image" [alt]="currentUser.username" class="img-fluid rounded-circle image-profile">
  </div>
  <div class="col-md-6 alignText">
    <h1>
      Welcome {{currentUser.username}}
    </h1>
    <ul class="list-group mt-4 ml-3">
      <li class="list-group-item">
        <h6 class="be-inline">Name:</h6>
        <p class="be-inline"> {{currentUser.name}}</p>
      </li>
      <li class="list-group-item">
        <h6 class="be-inline">Email:</h6>
        <p class="be-inline"> {{currentUser.email}}</p>
      </li>
      <li class="list-group-item">
        <h6 class="be-inline">Web:</h6>
        <p class="be-inline"> {{currentUser.web}}</p>
      </li>
      <li class="list-group-item">
        <h6 class="be-inline">Location:</h6>
        <p class="be-inline"> {{currentUser.address}}, {{currentUser.city}}</p>
      </li>
      <li class="list-group-item">
        <h6 class="be-inline">Pib:</h6>
        <p class="be-inline"> {{currentUser.pib}}</p>
      </li>
      <li class="list-group-item">
        <h6 class="be-inline">Number of employees:</h6>
        <p class="be-inline"> {{currentUser.numOfEmployees}}</p>
      </li>
      <li class="list-group-item">
        <h6 class="be-inline">Activities:</h6>
        <ul>
          <li *ngFor="let activity of currentUser.activities">{{activity.item_text}}</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h6 class="be-inline">Speciality:</h6>
        <p class="be-inline"> {{currentUser.speciality}}</p>
      </li>
      
    </ul>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-2 text-center offset-md-3">
    <button class="btn btn-info btn-lg">Make offer</button>
  </div>
  <div class="col-md-3 text-center">
      <button class="btn btn-info btn-lg">Change password</button>
  </div>
</div>
